<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>FlightNo</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% flights.forEach(function(d) { %>
      <tr>
        <td><%= d.airline %></td>
        <td><%= d.airport %></td>
        <td><%= d.flightNo %></td>
        <td><%= d.departs %></td>
        <td><a href="/flights/<%= d._id %>">DETAILS</a></td>
        <!-- finish the ternary expression to display 'Yes' or 'Nope' -->
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody>
</table>

<%- include('../partials/header') %>