<%- include('../partials/header') %>

<section id="show-page">
  <div>airport: </div>
  <div><%= flight.airport %></div>
  <div>arrival: </div>
  <div><%= flight.arrival %></div>
</section>

<br><br><h2>destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>destination:</label>
  <textarea name="content"></textarea>

  <input type="submit" value="Add destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>airport</th>
        <th>destination</th>
        <th>arrrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <!-- .toLocaleDateString() provides a more friendly date format -->
          <td><%= d.createdAt.toLocaleDateString() %></td>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Flight Info Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>