<%- include('../partials/header') %>

  <section id="show-page">

    <br><br>
    <h2>Destinations</h2>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <label>Airport:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="HOU">HOU</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>

      <label>Arrival:</label>
      <input type="datetime-local" name="arrival">
      <input type="submit" value="Add destination">

    </form>

    <% if (flight.destinations.length) { %>
      <table>
        <thead>
          <tr>
            <th>Departer</th>
            <th>Arrrival</th>
            <th>Airport</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(d) { %>
            <tr>
              <!-- .toLocaleDateString() provides a more friendly date format -->
              <td>
                <%= d.createdAt.toLocaleDateString() %>
              </td>
              <td>
                <%= d.arrival %>
              </td>
              <td>
                <%= d.airport %>
              </td>
              <td><%= d.departs %></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <% } else { %>
        <h5>No Flight Info Yet</h5>
        <% } %>

          <%- include('../partials/footer') %>